main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}


#intro{
    min-height: 120vh;
    width: 100%;
    display: flex;
    background: url("/CLimage/intro-background-img.jpg");
    filter:brightness(0.9);
    background-repeat: no-repeat;
    background-size :cover;
    background-position:top;
}

.intro-content{
    width: 80vh;
    height: 55vh;
    max-width: 50rem;
    margin: 50vh 0vh 0vh 5vh;
}

.intro-content h2{
    font-size: 4rem ;
    text-transform: uppercase;
    color:#ff0505;
}

.intro-content p{
    font-size: 2rem;
    font-weight:lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: #fafbfc;
}

#getstarted {
    font-size: 2rem;
    font-weight: bold;
    color: #2D3031;
    padding: 1rem;
    border-radius: 10px;
    border: ridge #ff0505;
}

#getstarted :hover{
    font-size: 2.5rem;
    color: #ff0505;
}

h1{
    text-align: center;
    color:#ccc;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 5rem 0rem 2rem;
} 

.row{
    width: 90%;
    height: auto;
    margin: 0% 5%;
}

.row img {
    float: left;
    width: 40%;
}

.aboutus-content, .column-container {
    width: 55%;
    margin-left: 45%;
}

.aboutus-content h2{
    font-size: 3em;  
    line-height: 2;
}

.aboutus-content p{
    font-size: 1.5em;
}

.column-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.row-container{
    display: flex;
}

.block{
    height: 180px;
    width: 250px;
    padding: 20px;
    border: 1px solid #badc11;
    margin:5px;
    justify-content: center;
    align-items: center;   
}

.block dt{
    font-weight: bold;
    font-size: 2em;
}

.block dd{
    padding-left: 12px;
    font-size: 1.5em;
    font-weight: lighter;
}