main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}

/* introbackground image*/
#intro{
    padding-top: 50vh;
    min-height: 120vh;
    width: 100%;
    background: url("/CLimage/intro-background-img.jpg");
    background-repeat: no-repeat;
    background-size :cover;
    background-position:top;
    animation: fade 1s ease-in;
}

.intro-content{
    padding: 40px 30px;
    width: 100%;
    background-color: #ffffff5c;
}

.intro-content h2{
    max-width: 39vw;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#241D13;
}

.intro-content p{
    max-width: 50rem;
    font-size: 2.4rem;
    line-height: 1.6;
    padding:1rem 0;
    color: #241d13c6;
}

#joinNow {
    width: 210px;
    text-align: center;
    margin-top: 30px;
    background-color: #FFFFFF;
    color: #241D13;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1.5rem 0;
    border-radius: 10px;
    border: solid 1.5px #241d1380;
}

#joinNow:hover {
    transition: 0.3s;
    background-color: #241D13;
    color: #FFFFFF;
}

.intro-content a{
    text-decoration: none;
    color: #2D3031; 
}

.intro-content a:hover{
    color: #FFF;
}

h1{
    text-align: center;
    color:#ccc;
    text-transform: uppercase;
    font-size: 4rem;
    padding: 10px 0px 10px 0px;
}
span{
    color: goldenrod;
}
.about{
    height: 520px;
    width: 100%;
    background-color: #000000;
    display: block;
    margin: auto 10% auto 0%;
    text-align: center;
}

.row{
    width: 95%;
    height: auto;
    margin: 0% 3%;
}

.row img {
    padding:18px 10px;
    float: left;
    width: 38%;
    height:415px;
}

.aboutus-content .column-container {
    width: 55%;
    margin-left: 40%;
}

.aboutus-content h2{
    font-size: 3rem;  
    line-height: 1.75;
    color: #FFF;
    
}

.aboutus-content p{
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    
}

.column-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.row-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block{
    height: 140px;
    width: 290px;
    padding: 6px;
    border: 1px solid #FFF;
    margin:2px;
    justify-content: center;
    align-items: center;   
}

.block dt{
    font-weight: bold;
    font-size: 2em;
    color: #FFC371;
}

.block dd{
    padding: 10px 0px 0px 12px;
    font-size: 1.5em;
    font-weight: lighter;
    color: #f2f2f2;
}


#location {
    width: 99.9%;
    height: auto;
    display: flex;
}


#map {
    display: flex;
    flex: 3;
    justify-content: center;
}

#map iframe{
    border-radius: 50%;
}

#address{
    height: 40vw;
    display: flex;
    flex: 2;
    justify-content: center;
    
}

#address_frame {
    height: fit-content;
    width: 95%;
    padding: 3px;
    background-color: #2D3031;
    border-radius: 20px;
    display: block;
    margin: auto 3% auto 0%;
    text-align: center;
}

#address_frame h1 {
    margin: 0%;
    font-size: 3rem;
    color: #FFC371;
}

#address_frame h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f2f2f2;
    margin: 4% 3% 3%;
}

.contact {
    width: 100%;
    height: 3vw;
    margin: 1.5vw 0vw;
}

.contact ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.contact li {
    display: inline;
}

.contact ul li img {
    width: 3.5vw;
    height: 3.5vw;
    padding: 0.6vw;
    margin: 0 0.4vw;
    filter: invert(100%) sepia(8%) saturate(323%) hue-rotate(259deg) brightness(114%) contrast(90%);
}

.contact ul li img:hover {
    transition: 0.1s;
    filter: invert(79%) sepia(35%) saturate(566%) hue-rotate(340deg) brightness(101%) contrast(101%);
}

#pricisemap{
    background-image:  url('/images/locationbckgrd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}
#imagemap-bg {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: #EBE7DB;
    display: block;
    margin: 0% auto;
    padding: 1%;
}
#imagemap-bg h2{
    font-size: 1.5rem;
    text-align: left;

}

#imagemap-bg img {
    width: 870px;
    height: 418px;
    border: 5px double #2D3031;
}


