
main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}
/* introbackground image*/
.intro{
    min-height: 120vh;
    display: flex;
    align-items: center;
    background: url("/CLimage/new-gym-girls-4k.jpg");
    filter:brightness(0.9);
    background-repeat: no-repeat;
    background-size :cover;
    background-position:top;

}

/*adjust the font position*/
section{
    padding:2rem 7%;
    
}


.intro-content{
    max-width: 40rem;
}

.intro-content h2{
    font-size: 4rem ;
    text-transform: uppercase;
    color:#ff0505;
    position: relative;
    right: 40px;
}

.intro-content p{
    font-size: 2rem;
    font-weight:lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: #fafbfc;
    position: relative;
    right: 40px;
}

#id{
    scroll-margin-top: 100px;
} 
h1.heading{
    text-align: center;
    color:#ccc;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    position: relative;
    right: 150px;
} 
h1.heading span{
    color:goldenrod;
    
}  
.column-container{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 600px;
    bottom: 350px;

    
}  
.row-container{
    display: flex;
    flex-direction: row;

    
}
.block{
    height: 160px;
    width: 250px;
    padding: 20px;
    border: 1px solid #badc11;
    margin:5px;
    justify-content: center;
    align-items: center;   
}
dl{
    margin:0px;
    padding: 0px;
}
dt{
    font-weight: bold;
}
dd{
    margin-left: 15px;
}

.about.row{
    display: flex;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;

}
.aboutus-content h3{
    position:relative;
    left: 600px;
    bottom: 370px;
    font-size: 3em;   
}
.aboutus-content p{
    position: relative;
    left: 600px;
    bottom: 355px;
    max-width:600px;
    font-size: 1.5em;
}
.block dt{
    font-weight: bold;
    font-size: 1.75em;

}
.block dd{
    font-size: 1.25em;
    font-weight: lighter;
}
.image{
    position: relative;
    right: 75px;   
}