a {
    text-decoration: none;
}

li {
    list-style: none;
}

.color-template {
    color: #2D3031;
    color: #6C757D;
    color: #D6DADB;
    color: #FFB54D;
    color: #FFC371;
    color: #FFCA80;
    color: #EBE7DB;
    color: #F2F2F2;
    color: #FFFFFF;
    color: #0087CA;
    color: #0099E6;
}

main {
    padding: 30px;
    background-color: #EBE7DB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    height: auto;
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu {
    width: 30%;
    min-width: 300px;
    border-right: 2px solid #EBE7DB;
}

.personal-details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-details img {
    height: 150px;
    width: 150px;
    border: 2px solid #6C757D;
    border-radius: 100px;
}

.personal-details h2 {
    margin-top: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #2D3031;
}

.personal-details h3 {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: #6C757D;
}

.nav-menu {
    width: 100%;
}

.nav-menu a {
    padding: 10px 30px;
    color: #2D3031;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    border-top: 2px solid #EBE7DB;
}

.nav-menu a.active {
    color: #FFFFFF;
    background-color: #FFC371;
}

.nav-menu a:hover {
    color: #FFFFFF;
    background-color: #FFCA80;
    transition: 0.3s;
    cursor: pointer;
}

.content {
    width: 70%;
    min-width: 400px;
}

.content-view {
    padding: 40px;
}

.content-view h1 {
    font-size: 4rem;
}

.content-view .table {
    margin-top: 40px;
    display: flex;
}

.buttons button {
    cursor: pointer;
    margin: 10px 20px 0 0;
    padding: 12px;
    min-width: 100px;
    border-radius: 8px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.buttons button.update {
    background: #FFC371;
    color: #FFFFFF;
    border: none;
}

.buttons button.update:hover {
    background: #FFCA80;
    transition: 0.3s;
}

.buttons button.cancel {
    background: #FFFFFF;
    color: #2D3031;
    border: 1px solid #D6DADB;
}

.buttons button.cancel:hover {
    background: #F2F2F2;
    transition: 0.3s;
}