/* color template */
.color-template {
    color: #2D3031;
    color: #6C757D;
    color: #D6DADB;
    color: #FFC371;
    color: #FFCA80;
    color: #EBE7DB;
    color: #F2F2F2;
    color: #FFFFFF;
    color: #0087CA;
    color: #0099E6;
}

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #EBE7DB;
}

main {
    min-height: 85vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* font-size 10px => 1rem */
html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .6);
}

/* header */
header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 41px;
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 18px;
    color: #2D3031;
    display: block;
}

/* dropdown menu */
header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #F2F2F2;
    display: none;
    z-index: 999;
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header nav ul li a.active {
    background: #FFC371;
    color: #FFFFFF;
}

header nav ul li a:hover {
    transition: 0.3s;
    background: #FFCA80;
    color: #FFFFFF;
}

header .login-link {
    display: flex;
    align-items: center;
    filter: invert(48%) sepia(5%) saturate(690%) hue-rotate(167deg) brightness(92%) contrast(92%);
}

header .login-link.active {
    filter: invert(79%) sepia(35%) saturate(566%) hue-rotate(340deg) brightness(101%) contrast(101%);
}

header .login-link:hover {
    transition: 0.1s;
    filter: invert(79%) sepia(35%) saturate(566%) hue-rotate(340deg) brightness(101%) contrast(101%);
}

/* footer CSS*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul li {
    position: relative;
    float: left;
}

footer ul li img {
    display: block;
    height: 45px;
    width: 55px;
    padding: 5px 10px;
    margin: 0 5px 5px 5px;
    filter: invert(48%) sepia(5%) saturate(690%) hue-rotate(167deg) brightness(92%) contrast(92%);
}

footer ul li img:hover {
    transition: 0.1s;
    filter: invert(79%) sepia(35%) saturate(566%) hue-rotate(340deg) brightness(101%) contrast(101%);
}

footer p {
    color: #6C757D;
    font-size: 1rem;
    letter-spacing: 1px;
}

@keyframes fade {
       0%{
        opacity: 0;
       } 
       100%{
        opacity: 1;
       }
}