/* To make the white background for content */
main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}

/* To make the orange block for every different zone */
.facilities-block {
    background-color: #FFC371;
    display: block;
    height: 25vw;
    width: 94%;
    margin: 3% auto;
    padding: 1%;
    border-radius: 3vw;
}

/* zone name */
.facilities-block h1 {
    font-size: 4vw;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 5%;
    padding: 0% 0% 3%;
    transition: 0.3s;
}

/* word hover effect */
.facilities-block a :hover {
    color: #2D3031;
}

/* zone description */
.facilities-block p {
    font-size: 2vw;
}

/* image display on left */
.block-left {
    float: left;
    height: 20vw;
    width: 35vw;
    margin: 2% 0% 2% 3%;
    top: 0;
}

.block-left img {
    height: 20vw;
    width: 35vw;
    border-radius: 2vw;
}

/* white background for image */
.white-l-bg {
    z-index: 10;
    margin-right: 5%;
}

/* zone image */
.real-l-img {
    display: flex;
    z-index: 20;
    margin-top: -61%;
    margin-left: 5%;
}

/* word display on right */
.block-right {
    float: right;
    height: 20vw;
    width: 40vw;
    margin: 2% 5% 2% 0%;
}

/* go to next page button image */
.btn-right {
    float: right;
    width: 6vw;
    height: 5vw;
    margin: -6vw 10vw 0vw 0vw;
}

/* display image at right */
.right-block {
    float: right;
    height: 20vw;
    width: 35vw;
    margin: 2% 5% 2% 0%;
    top: 0;
}

.right-block img {
    height: 20vw;
    width: 35vw;
    border-radius: 20px;
}

/* white background for image */
.white-r-bg {
    z-index: 10;
    margin-left: 5%;
}

/* zone image */
.real-r-img {
    display: flex;
    z-index: 20;
    margin-top: -21.5vw;
    margin-right: 5%;
}

/* display word on the left */
.left-block {
    float: left;
    height: 20vw;
    width: 40vw;
    margin: 2% 0% 2% 5%;
}

/* go to next page button image */
.btn-left {
    float: left;
    width: 6vw;
    height: 5vw;
    margin: -6vw 0vw 0vw 26vw;
}

@keyframes rotateBtn {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}

.btn-left:hover, .btn-right:hover{
    animation: rotateBtn 0.5s ease 1;
}