/* To make the white background for content */
main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}

/* To make the orange block for every different zone */
.facilities-block {
    background-color: #FFC371;
    display: block;
    height: 25rem;
    width: 94%;
    margin: 3% auto;
    padding: 1%;
    border-radius: 3rem;
}

/* zone name */
.facilities-block h1 {
    font-size: 4rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 5%;
    padding: 0% 0% 3%;
    transition: 0.3s;
}

/* word hover effect */
.facilities-block a :hover {
    color: #2D3031;
}

/* zone description */
.facilities-block p {
    font-size: 2rem;
}

/* image display on left */
.block-left {
    float: left;
    height: 20rem;
    width: 35rem;
    margin: 2% 0% 2% 3%;
    top: 0;
}

.block-left img {
    height: 20vw;
    width: 35vw;
    border-radius: 2rem;
}

/* white background for image */
.white-l-bg {
    z-index: 10;
    margin-right: 5%;
}

/* zone image */
.real-l-img {
    display: flex;
    z-index: 20;
    margin-top: -61%;
    margin-left: 5%;
}

/* word display on right */
.block-right {
    float: right;
    height: 20rem;
    width: 40rem;
    margin: 2% 5% 2% 0%;
}

/* go to next page button image */
.btn-right {
    float: right;
    width: 6rem;
    height: 5rem;
    margin: -6rem 10rem 0rem 0rem;
}

/* display image at right */
.right-block {
    float: right;
    height: 20rem;
    width: 35rem;
    margin: 2% 5% 2% 0%;
    top: 0;
}

.right-block img {
    height: 20vw;
    width: 35vw;
    border-radius: 20px;
}

/* white background for image */
.white-r-bg {
    z-index: 10;
    margin-left: 5%;
}

/* zone image */
.real-r-img {
    display: flex;
    z-index: 20;
    margin-top: -22rem;
    margin-right: 5%;
}

/* display word on the left */
.left-block {
    float: left;
    height: 20rem;
    width: 40rem;
    margin: 2% 0% 2% 5%;
}

/* go to next page button image */
.btn-left {
    float: left;
    width: 6rem;
    height: 5rem;
    margin: -6rem 0rem 0rem 26rem;
}

