.formbg {
    /* background-image: linear-gradient(to right, #FFD577,  #DC8D7C); */
    background-color: #FFBA41;
    width: 90%;
    height: fit-content;
    margin: 3% auto;
    display: block;
    padding: 2%;
}

.backArrow {
    width: 35%;
    height: 600px;
    padding: 2%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.backBtn {
    height: 35%;
}

.backBtn button {
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0;
    margin-right: 100%;
    background-color: #F2F2F2;
}

.backBtn button:hover {
    width: 60px;
    height: 60px;
    transition: 1s;
}

.backTxt {
    height: 40%;
}

.backTxt h1 {
    font-size: 5vw;
    font-weight: bold;
    width: 50%;
    display: display;
    margin: 0% auto;
    color: #0C1E34;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.backTxt h5{
    font-size: 1.5vw;
    width: 98%;
    margin-top: 2%;
}

.backTxt p {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    background-color: #0C1E34;
    color: #EBE7DB;
    padding: 5%;
    font-size: 1.6vw;
    text-align: center;
    border-radius: 20px;
}

.inputForm {
    background-color: #033C59;
    color: #F3EAF4;
    width: 60%;
    height: fit-content;
    padding: 2%;
    display: inline-block;
    font-size: 20px;
    border-radius: 40px;
}

@keyframes orderItemColor {
    0% {
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    25% {
        background: linear-gradient(to right, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50% {
        background: linear-gradient(to right, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    75% {
        background: linear-gradient(to right, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.inputForm h2 {
    font-size: 2.3vw;
    padding: 0.5%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    animation: orderItemColor 1s ease-in infinite;
}

#formQty {
    height: 535px;
}

#formSize {
    height: 520px;
}

label {
    display: block;
    float: left;
    clear: left;
    margin: 10px 0px 10px 10px;
    width: 40%;
    height: 35px;
 }
 
input, select, textarea {
    display: block;
    float: left;
    margin: 10px 0px;
    width: 55%;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1vw;
}

textarea {
    height: 140px;
}

input:focus, select:focus, textarea:focus {
    background-color: #EBE7DB;
} 

#nameBox:focus:valid, #phoneBox:focus:valid, #mailBox:focus:valid, #addrBox:focus:valid {
    background-color: #DFFF9E;
}

#nameBox:focus:invalid, #phoneBox:focus:invalid, #mailBox:focus:invalid, #addrBox:focus:invalid {
    background-color: #FAB4A4;
}

.buyerBtn {
    width: 100%;
    height: fit-content;
    display: block;
    margin-left: 12%;
}

.buyerBtn input {
    display: inline-block;
    width: 30%;
    height: 50px;
    margin: 5% 0% 3% 5%;
    font-size: 1.6vw;
    font-weight: bold;
    background-color: #FFDA1A;
    color: #2D3031;
    border: 0;
}

.buyerBtn input:hover {
    background-color: #FFDA1ADF;
    transition: .5s;
}

#submitTxt {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
    font-size: 2.2vw;
    margin-top: 2%;
}

#buyerTotal {
    height: 200px;
    display: block;
    text-align: left;
    margin: 1%;
}


#paymentYN {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(180deg, rgba(129, 83, 20, 0.4), rgba(45, 48, 49, 0.4));
}

#paymentYN-content {
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    max-width: 500px;
}

#paymentYN-content h2 {
    color: #2D3031;
    text-align: left;
    padding: 0 10px;
    font-size: 2.4rem;
    letter-spacing: 1px;
}

#paymentYN-content h3 {
    color: #6C757D;
    font-weight: normal;
    padding: 20px 10px;
    font-size: 1.6rem;
}