.formbg {
    /* background-image: linear-gradient(to right, #FFD577,  #DC8D7C); */
    background-color: #FFBA41;
    width: 90%;
    height: fit-content;
    margin: 3% auto;
    display: block;
    padding: 2%;
}

.backArrow {
    width: 35%;
    height: 600px;
    padding: 2%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.backBtn {
    height: 30%;
}

.backBtn button {
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0;
    margin-right: 100%;
    background-color: #F2F2F2;
}

.backBtn button:hover {
    width: 60px;
    height: 60px;
    transition: 1s;
}

.backTxt {
    height: 70%;
}

.backTxt h1 {
    font-size: 5vw;
    font-weight: bold;
    width: 50%;
    display: display;
    margin: 0% auto;
    color: #0C1E34;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.backTxt ul {
    width: 80%;
    display: block;
    margin: 3% auto;
}

.backTxt ul li{
    font-size: 1.5vw;
    margin-top: 2%;
    text-align: left;
    list-style-type: disc;
}

.backTxt p {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    background-color: #0C1E34;
    color: #EBE7DB;
    padding: 5%;
    font-size: 1.6vw;
    text-align: center;
    border-radius: 20px;
}

.inputForm {
    background-color: #033C59;
    color: #F3EAF4;
    width: 60%;
    height: fit-content;
    padding: 2%;
    display: inline-block;
    font-size: 20px;
    border-radius: 40px;
}

/* @keyframes orderItemColor {
    0% {
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    25% {
        background: linear-gradient(to right, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50% {
        background: linear-gradient(to right, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    75% {
        background: linear-gradient(to right, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
} */

.inputForm h2 {
    font-size: 2.3vw;
    padding: 0.5%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    /* animation: orderItemColor 1s ease-in infinite; */
    color: #F2F2F2;
}

#formQty {
    height: 535px;
}

#formSize {
    height: 520px;
}

#orderContent {
    display: block;
    width: 90%;
    margin-left: 10%;
}

#orderContent label {
    display: block;
    float: left;
    clear: left;
    margin: 10px 0px 10px 10px;
    width: 30%;
    height: 35px;
 }
 
.buyerName input, .buyerNo input,  .buyerEmail input, .buyerSize select, .buyerQty input {
    display: block;
    float: left;
    margin: 10px 0px;
    width: 55%;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1vw;
}

.buyerAddress textarea {
    display: block;
    float: left;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1vw;
    width: 55%;
    height: 140px;
}

input:focus, label:focus, textarea:focus {
    background-color: #EBE7DB;
} 

#nameBox:focus:valid, #phoneBox:focus:valid, #mailBox:focus:valid, #addrBox:focus:valid {
    background-color: #DFFF9E;
}

#nameBox:focus:invalid, #phoneBox:focus:invalid, #mailBox:focus:invalid, #addrBox:focus:invalid {
    background-color: #FAB4A4;
}

.buyerBtn {
    width: 100%;
    height: fit-content;
    display: block;
    margin-left:3%;
}

.buyerBtn input {
    display: inline-block;
    width: 35%;
    height: 50px;
    margin: 5% 0% 3% 5%;
    font-size: 1.6vw;
    font-weight: bold;
    background-color: #FFDA1A;
    color: #2D3031;
    border: 0;
    padding: 5px;
    border-radius: 10px;
}

.buyerBtn input:hover {
    background-color: #FFDA1ADF;
    transition: .5s;
}

#buyerTotal {
    height: fit-content;
    display: block;
    text-align: left;
    margin: 3% auto 5%;
    width: 60%;
}

#buyerTotal table {
    width: 100%;
    height: 20vw;
    background-color: #ede9e8;
    padding: 3%;
    border-radius: 20px;
    color: #0f485b;
}

#buyerTotal th {
    font-size: 2vw;
}

#buyerTotal td {
    font-size: 1.5vw;
}

#buyerTotal thead, #buyerTotal tfoot {
    height: 10%;
}

#buyerTotal tbody {
    height: 80%;
}

#buyerTotal thead th:first-child {
    text-align: center;
    border-bottom: 2px solid #0f485b;
}

#buyerTotal tfoot th:last-child {
    text-align: end;
    color: #d57a67;
}

#buyerTotal tfoot th:nth-child(2) {
    color: #d57a67;
}

#buyerTotal table tbody tr td:first-child {
    width: 65%;
}

#buyerTotal table tbody tr td:last-child {
    width: 20%;
    text-align: end;
}

#buyerTotal tbody tr:nth-child(3) td {
    border-top: 2px dashed #0f485b;
}

#buyerTotal tbody tr:last-child td {
    border-bottom: 2px dashed #0f485b;
}

#paymentYN {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(180deg, rgba(129, 83, 20, 0.4), rgba(45, 48, 49, 0.4));
}

#paymentYN-content {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    background-color: #fefefe;
    display: block;
    margin: 20% auto;
    padding: 2vw;
    width: 35vw;
    height: 25vw;
}

#paymentYN-content h2 {
    color: #2D3031;
    text-align: left;
    font-size: 2vw;
    letter-spacing: 1px;
    padding-bottom: 1vw;
    border-bottom: 3px solid #ff9501;
}

#paymentYN-content h3 {
    color: #6C757D;
    font-weight: normal;
    padding: 0.5vw;
    font-size: 1.5vw;
}

#paymentMethod input {
    width: 80%;
    height: 3vw;
    font-size: 1.2vw;
    display: block;
    margin-left: 10%;
    border: 0;
    background-color: #fddac5;
}

#paymentMethod input:hover {
    background-color: #fccdb0;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid #2D3031;
    border-left: 4px solid #2d3031;
    font-weight: bold;
}

#confirmCash {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(180deg, rgba(129, 83, 20, 0.4), rgba(45, 48, 49, 0.4));
}

#confirmCash-content {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    background-color: #fefefe;
    display: block;
    margin: 20% auto;
    padding: 2vw;
    width: 35vw;
    height: 25vw;
}
#confirmCash-content h2 {
    color: #2D3031;
    text-align: left;
    font-size: 2vw;
    letter-spacing: 1px;
    padding-bottom: 1vw;
    border-bottom: 3px solid #ff9501;
}

#confirmCash-content h3 {
    color: #6C757D;
    font-weight: normal;
    padding: 0.5vw;
    font-size: 1.5vw;
}

#confirmCash input {
    width: 80%;
    height: 3vw;
    font-size: 1.2vw;
    display: block;
    margin-left: 10%;
    border: 0;
    background-color: #fddac5;
}

#confirmCash input:hover {
    background-color: #fccdb0;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid #2D3031;
    border-left: 4px solid #2d3031;
    font-weight: bold;
}

#confirmCard {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(180deg, rgba(129, 83, 20, 0.4), rgba(45, 48, 49, 0.4));
}

#confirmCard-content {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    background-color: #fefefe;
    display: block;
    margin: 20% auto;
    padding: 2vw;
    width: 40vw;
    height: 27vw;
}

#confirmCard-content h2 {
    color: #2D3031;
    text-align: left;
    font-size: 2vw;
    letter-spacing: 1px;
    padding-bottom: 1%;
    border-bottom: 3px solid #ff9501;
}

#cardInput {
    height: 90%;
    padding: 2%;
}

#cardInput form {
    height: 100%;
    width: 100%;
}

#cardInput label, #cardInput input {
    height: 1.8vw;
    font-size: 1.2vw;
}

#cardImg {
    width: 100%;
    height: 31%;
    align-items: center;
    text-align: center;
    vertical-align: center;
    border-bottom: 3px dashed #ffb701;
}

#cardImg img {
    width: 7vw;
    padding: 2%;
    margin: 0% 1%;
    border-radius: 20px;
}

#cardImg img:hover{
    border: 3px solid #FFDA1A;
}

#cardImg input {
    display: none;
}

input[type="radio"]:checked + label img {
    border: 3px solid #FFDA1A;
}

/* Set card num and card holder at left */
#cardLeft {
    width: 50%;
    height: 45%;
    font-size: 1.2vw;
    display: block;
    border: 0;
    float: left;
    margin-top: 3%;
}

.cNumber, .cName {
    margin-bottom: 8%;
}

.cNumber label, .cName label {
    padding-left: 8px;
}

.cNumber input, .cName input {
    width: 90%;
    padding-left: 10px;
    margin-top: 2%;
    border: 0;
    background-color: #d6dadb9a;
    border-radius: 10px;
}

/* Set card month, year and cvv at right */
#cardRight {
    width: 50%;
    height: 45%;
    float: right;
    display: block;background-color: #d6dadb9a;
    border-radius: 5px;
    padding: 4% 3%;
    margin-top: 3%;
}

#cardRight label {
    float: left;
    width: 50%;
    clear: left;
    margin-bottom: 10%;
}

#cardRight input {
    float: right;
    clear: right;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10%;
    border: 0;
}

/* display color if invalid input */
#cardNo:focus:valid, #cardName:focus:valid, #dateInput:focus:valid, #cvv:focus:valid {
    background-color: #DFFF9E;
}

#cardNo:focus:invalid, #cardName:focus:invalid, #dateInput:focus:invalid, #cvv:focus:invalid {
    background-color: #FAB4A4;
}

#submitCard {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
}

#submitCard input {
    width: 20%;
    height: 90%;
    padding: 2px;
    border-radius: 10px;
    font-size: 1.2vw;
    display: block;
    margin: 3% 3% 0% 0%;
}

#unCardbtn {
    background-color: #d6dadb9a;
    border: 2px solid #2d3031;
}

#submitCardbtn {
    background-color: #2d3031;
    border: 2px solid #2d3031;
    color: #F2F2F2;
}

#submitCard input:hover {
    background-color: #fccdb0;
    color: #2D3031;
    border: 0;
    border-top: 0;
    border-right: 0;
    font-weight: bold;
    transition: 0.1s;
}