/*consistance layout base of fitzone*/
main {
    background-color: #FFFFFF;
    width: 95%;
    margin: 3% 3% 0%;
    padding: 0.5%;
    position: relative;
}
/*background image for this page*/
section#faq{
    min-height: 120vh;
    background-image: url("/images/faqbckgrd.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;

}
/*title*/
.title h1{
    padding-top: 10px;
    
    text-align: center;
    font-size: 3em;
    color: #FFFFFF;
}
/*title descriptions*/
.title p{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;

}

/* the space for all the questions and answers*/
.container{
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
   
}


.container .tab{
    position: relative;
    margin-bottom:15px;
    background-color: #fff;
    padding: 0 25px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 590px;
}

/*hide the checkbox*/
.container .tab input{
    appearance: none;
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*add '+' to the right*/
.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 3em;
    color: rgba(0,0,0,0.1);   
}
/* '+' color when hover */
.container .tab:hover label::after{
    color:#333;
}

/* to let the '+' symbol rotate*/
.container .tab input:checked ~ label::after{
    transform:rotate(135deg);
    transition: 1s;
    color: #FFFFFF;
}
/*numbering*/
.container .tab label h2{
    width: 40px;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-right: 10px;
    padding:10px;
}
/*even number*/
.container .tab.tab:nth-child(2n) label h2{
    background: linear-gradient(135deg,#f8bb52,#f7e32b);
    
}
/*odd number*/
.container .tab:nth-child(1) label h2{
    background: linear-gradient(135deg,#ef9e9b,#fbbf57);
    
}
.container .tab:nth-child(3) label h2{
    background: linear-gradient(135deg,#ef9e9b,#fbbf57);
}
.container .tab:nth-child(5) label h2{
    background: linear-gradient(135deg,#ef9e9b,#fbbf57);
}
.container .tab:nth-child(7) label h2{
    background: linear-gradient(135deg,#ef9e9b,#fbbf57);   
}
.container .tab:nth-child(9) label h2{
    background: linear-gradient(135deg,#ef9e9b,#fbbf57);
}

/*to show the background color & text number moved to right end after click*/
.container .tab input:checked ~  label h2{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 12rem;
    justify-content: flex-end;
    padding: 20px;

}
/*question*/
.container .tab label h3{
    font-size: 2rem;
    position: relative;
    font-weight: 500;
    color:#333;
    z-index: 10; /*bring the h3 element infront background color */
}
/*question after clicked the checkbox*/
.container .tab input:checked ~ label h3{
    font-size: 1.7rem;
    background-color: #FFFFFF;
    color: #333;
    padding:2px 20px; 
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
/* to hide the answer */
.container .tab .content{
    max-height: 0;
    overflow: hidden;
}

/*to expand the answer*/
.container .tab input:checked ~ .content{
    max-height: 120vh;
}
/*answer*/
.container .tab .content p{
    margin: 10px;
    font-size: 1.75rem;
    padding-right: 20px;
    text-align: justify;
    position: relative;  
    z-index: 10;  /*bring the p element infront background color */
    color: #333;
}
/*answer after clicked the checkbox*/
.container .tab input:checked ~ .content p{
    color:#333;        
}








