main {
    background-color: #FFFFFF;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
    position: relative;
}

.container{
    /* margin: 0 40px; */
    max-width: 620px;
    display:flex;
    margin: 0 auto 10%;
    flex-direction: column;
    gap:15px;
    /* position: relative;
    left: 300px; */
}
.container h1{
    position: relative;
    left:130px;
    top: 20px;
    font-size: 3em;

}
.container h2{
    color:#333;
    font-size: 2em;
}

.container .tab{
    position:relative;
    top: 50px;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
    
}
.container .tab input{
    appearance: none;
}
.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 3em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}
.container .tab:hover label::after{
    color:#333;
}
.container .tab input:checked ~ label::after{
    transform:rotate(135deg);
}
.container .tab label h2{
    position: relative;
    font-weight: 500;
    color:#333;
    z-index: 10;
}
.container .tab input:checked label h2{
    color: #333;
    padding:2px 10px;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    
}
.container .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content p{
    color:#333;   
}
.container .tab input:checked ~ .content{
    max-height: 120vh;
}

.content p{
    font-size: 1.5em;
}



