#instructors-content {
    width: 90%;
    height: auto;
    margin: 1% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor {
    width: 18vw;
    height: 40vw;
    background-color: #FFC371;
    border-radius: 2vw;
    display: inline-block;
    margin: 2.3%;
    padding: 3%;
    position: static;
    border-left: 0.5vw solid #2D3031;
    border-bottom: 0.5vw solid #2D3031;
}

.instructor-image {
    height: 30%;
    width: 100%;
    text-align: center;
    margin: 3% 0%;
    padding: 10%;
}

.instructor-image img {
    height: 100%;
    width: 90%;
    border-radius: 50%;
}

.instructor-intro {
    text-align: center;
}

.instructor-intro h1 {
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #2D3031;
    margin-bottom: 1.5vw;
}

.instructor-intro h2 {
    font-size: 1.5vw;
    color: #2D3031;
    margin-bottom: 1.5vw;
}

.instructor-intro p {
    font-size: 1vw;
    color: #2D3031;
    height: 3.5vw;
    width: 100%;
}

.word {
    margin: 1.5vw 0vw;
    font-style: italic;
}

.contact {
    width: 100%;
    height: 3vw;
    margin-top: 2vw;
}

.contact ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.contact li {
    display: inline;
}

.contact ul li a {
    font-size: 2vw;
    padding: 0.5vw;
    color: #2D3031;
}

.contact ul li a:hover {
    color: #FFCA80;
}

.instructor:hover {
    transition: 1s;
    background-color: #F2F2F2;
}