

.promotion{
    width: 700px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 150px;
    background-image: url(/CLimage/merchant-img.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    
}
.content h1{
    font-family:'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 4em;
    position: relative;
    left:170px;
    top: 55px;
}

.content h2{
    font-family:'Barlow Condensed', sans-serif;
    font-weight:bold;
    position: relative;
    left:250px;
    top: 60px;
    

}

.content p{
    font-family:'Barlow Condensed', sans-serif;
    font-weight: 600;
    position: relative;
    left:415px;
    top: 60px;

}