main {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 94%;
    margin: 3% 3% 0%;
    padding: 0.5%;
}
/*Promotion*/

#promotion{
    width: 900px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-image: url(/images/merchant-img.png);
    background-repeat: no-repeat ;
    background-size:100% 100%;
    background-position: center;
    display: block;
    margin: 4% auto;
    text-align: center;
    padding: 6%;
}
.content h1{
    font-family:'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 4.2em;
}

.content h2{
    font-family:'Barlow Condensed', sans-serif;
    font-weight:bold;
    font-size: 2.2em;
}

.content p{
    font-family:'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: right;
    padding-right: 8%;
}


/*Products*/
.products{
    width: 100%;
    height: fit-content;

}
.products h1{
    margin:35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFC371;
}
.products .box{
    width: 100%;
    height: fit-content;
    display: block;
    margin: 3% auto;
    align-items: center;
    text-align: center;
}
.products .box .card{
    width: 20%;
    height: 480px;
    box-shadow: 0 0 8px #FFC371;
    border-radius: 5px;
    text-align: center;
    padding: 1% 2%;
    margin: 0% 1%;
    background: #f6f6f6;
    display: inline-block;
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.products .box .card .image img{
    width: 175px;
    height: 200px;
    margin: 15px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products_text {
    display: block;
    height: 45%;
}

.products .box .card .products_text h2{
    font-size: 15px;
    margin-top: 15px;
    height: 15%;
}

.products .box .card .products_text p{
    color: #91919191;
    line-height: 15px;
    margin: 8px 0;
    height: 30%;
    font-size: 1.2rem;
}

.products .box .card .products_text h3{
    margin: 1% 0;
    height: 8%;
}

.products .box .card .products_text .products_star{
    color: orange;
    cursor: pointer;
    height: 10%;
    margin-bottom: 5%;
}

@keyframes orderbtn {
    0% {width: 70%; background-color: #EBE7DB; color: #2D3031;}
    50% {width: 72%; background-color: #FFC371; color: #F2F2F2;}
    100% {width: 75%; background-color: #2D3031; color: #FFFFFF;}
}

.orderNow a{
    width: 70%;
    height: 25%;
    text-align: center;
    background-color: #FFFFFF;
    color: #241D13;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1.5rem 0;
    border-radius: 10px;
    border: solid 1.5px #241d1380;
    display: block;
    margin: 2% auto 5%;
}

.orderNow a:hover {
    width: 75%;
    background-color: #2D3031; 
    color: #FFFFFF;
    animation: orderbtn 0.4s ease-in 1;
}