.modal, .modal2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(45deg, rgba(255, 202, 128, 0.4), rgba(45, 48, 49, 0.4));
}

.modal-content {
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    max-width: 500px;
}

.modal-content h2 {
    color: #2D3031;
    text-align: left;
    padding: 0 10px;
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.modal-content h3 {
    color: #6C757D;
    font-weight: normal;
    padding: 20px 10px;
    font-size: 1.6rem;
}

.modal-content .buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

.modal-content .line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 16px 0 0 0;
    background-color: #6C757D;
}

.buttons button {
    cursor: pointer;
    margin: 30px 20px 0 0;
    padding: 12px;
    min-width: 100px;
    border-radius: 8px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
}