table {
    width: 94%;
    height: auto;
    margin: 1% 3% 3%;
}

/*Title of table*/
caption {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 0.4rem;
    background-color: #FFC37150; /*Set transparent 50% of color #6C757D*/
}

th,td {
    padding: 0.1rem;
    margin: 0.1rem;
    border-left: 0.1rem solid #FFFFFF;
    border-right: 0.1rem solid #FFFFFF;
    border-radius: 0.5rem;
}

th {
    width: 40rem;
    height: 6rem;
    font-size: 1.5rem;
    background-color: #FFC371;
}

/*time has same color with th*/
td:nth-child(1) {
    width: 40rem;
    height: 7rem;
    font-size: 1.5rem;
    background-color: #FFC371;
}

td {
    width: 40rem;
    height: 7rem;
    font-size: 1.4rem;
    text-align: center;
}

td:hover {
    transition: 1s;
    background-color: #2D3031;
    color: #F2F2F2;
    font-size: 1.6rem;
    font-weight: 1000;
}

tr:hover {
    background-color: #6C757D50;
}

/*diff design of text*/
.tutor {
    font-size: 1.2rem;
}