table {
    width: 94%;
    height: auto;
    margin: 1% 3% 3%;
}

/*Title of table*/
caption {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 0.4vw;
    background-color: #FFC37150; /*Set transparent 50% of color #6C757D*/
}

th,td {
    padding: 0.1vw;
    margin: 0.1vw;
    border-left: 0.1vw solid #FFFFFF;
    border-right: 0.1vw solid #FFFFFF;
    border-radius: 0.5vw;
    width: 12.5%;
    max-width: 13%;
}

th {
    height: 6vw;
    font-size: 1.4vw;
    background-color: #FFC371;
}

/*time has same color with th*/
td:nth-child(1) {
    width: 9%;
    height: 7vw;
    font-size: 1.3vw;
    background-color: #FFC371;
}

td {
    height: 7vw;
    font-size: 1.2vw;
    text-align: center;
}

td:hover {
    transition: 1s;
    background-color: #2D3031;
    color: #F2F2F2;
    font-size: 1.4vw;
    font-weight: 1000;
}

tr:hover {
    background-color: #6C757D50;
}

/*diff design of text*/
.tutor {
    font-size: 1.2vw;
}