html, body {
    background: #ddd;
    font-family: Monaco, "Courier New", Courier, sans-serif;
  }
  
  h1 { 
    text-align: center; 
    font-size: 1.5em; 
  }
  
  h2 {
    font-size: 1.6vmin;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #page {
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    perspective: 1000px;
    -webkit-perspective: 1000px;
    z-index: 2;
  }
  
  #flip {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 1vmin 1vmin 0 rgba(0,0,0,0.1)
  }
  
  body.active #flip {
    transform: rotateY(-180deg);
  }
  
  #front, #back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    overflow: hidden;
  }
  
  #front div {
    height: 2vmin;
    background: #ccc;
    position: absolute;
  }
  
  #front .link {
    background-color: #3040d0;
  }
  
  #front .image {
    background-color: #90aafe;
  }
  
  #skip-link {
    top: 2vmin;
    right: 2vmin;
    width: 10vmin;
  }
  
  #front #logo {
    top: 2vmin;
    left: 2vmin;
    width: 15vmin;
    height: 5vmin;
  }
  
  #front #logo::before {
    content: "LOGO";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2vmin;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: rgba(0,0,0,0.6);
  }
  
  #front #menu {
    top: 9vmin;
    left: 2vmin;
    width: 56vmin;
    height: 4vmin;
    background: #dd2020;
    z-index: 2;
  }
  
  #front #menu::before {
    content:"";
    position: absolute;
    left: 23.4vmin;
    width: 11.2vmin;
    height: 12vmin;
    top: 0;
    background: #aa1010;
  }
  
  #front #page-title {
    top: 16vmin;
    left: 2vmin;
    width: 20vmin;
    height: 2vmin;
    background-color: #333;
  }
  
  #front .paragraph {
    border-top: 2vmin solid #ccc;
    width: 56vmin;
    left: 2vmin;
    background: white;
  }
  
  #front .paragraph::before,
  #front .paragraph::after {
    content:"";
    display: block;
    width: 100%;
    border-top: 2vmin solid #ccc;
    border-bottom: 2vmin solid #ccc;
    margin-bottom: 2vmin;
    padding-bottom: 2vmin;
    margin-top: 2vmin;
  }
  
  #paragraph-1 {
    top: 20vmin;
  }
  
  #front #paragraph-2 {
    top: 43vmin;
    width: 33vmin;
  }
  
  #front #paragraph-2::after {
    width: 56vmin;
    border-bottom: 0;
  }
  
  #front #page-image {
    top: 43vmin;
    left: 37vmin;
    width: 21vmin;
    height: 10vmin;
    background-color: turquoise;
  }
  
  #back {
    background: #191619;
    color: #eee;
    transform: rotateY(180deg);
    font-size: 2vmin;
    box-sizing: border-box;
    padding: 1vmin;
    color: #a7925a;
    font-weight: bold;
    line-height: 2.75vmin;
  }
  
  #back > div {
    white-space: nowrap;
  }
  
  #back .text, #back .symb {
    color: #e3e3e3;
  }
  
  #back .comment {
    color: #999;
  }
  
  #back .attr {
    color: #ddca7e;
  }
  
  #back .value {
    color: #96b38a;
  }
  
  #back .meta {
    color: #9a8297;
  }
  
  #turn-page {
    background: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: calc(50% + 34vmin);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.75vmin;
  }
  
  #advices {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .advice {
    font-size: 1.6vmin;
    position: absolute;
    width: 20vmin;
    left: 32vmin;
    padding: 1vmin;
  }
  
  .advice::before {
    content: "";
    display: inline-block;
    border-top: 1px solid black;
    width: 5vmin;
    height: 0;
    position: absolute;
    top: 2vmin;
    left: 0;
    transform: translate(-100%, 30%);
  }
  
  .advice::after {
    content:"";
    display: block;
    width: 1.3vmin;
    height: 1.3vmin;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 1vmin;
    left: 0;
    transform: translate(-6vmin, 33%);
  }
  
  .advice.right {
    left: auto;
    right: 32vmin;
    text-align: right;
  }
  
  .advice.right::before {
    left: auto;
    right: 0;
    transform: translate(100%, 30%);
  }
  
  .advice.right::after {
    left: auto;
    right: 0;
    transform: translate(6vmin, 33%);
  }
  
  body.active .advice::before,
  body.active .advice::after {
    border-color: #aa0;
    background-color: #aa0;
  }
  
  .advice span { 
    display: none; 
    color: rgba(0,0,0,0.6);
    margin-top: 1vmin;
    font-weight: normal;
  }
  
  .advice:hover,
  .advice:focus,
  .advice:active {
    z-index: 4;
    background: white;
    box-shadow: 1vmin 1vmin 0 rgba(0,0,0,0.1);
  }
  
  body.active .advice:hover,
  body.active .advice:focus,
  body.active .advice:active{
    box-shadow: -1vmin 1vmin 0 rgba(0,0,0,0.1);
  }
  
  .advice.back {
    display: none;
  }
  
  body.active .advice.front {
    display: none;
  }
  
  body.active .advice.back {
    display: block;
  }
  
  .advice:hover span,
  .advice:focus span,
  .advice:active span {
    display: block;
  }
  
  #advice-menu {
    top: -21vmin;
  }
  
  #advice-skip {
    top: -29vmin;
  }
  
  #advice-logo {
    top: -28.5vmin;
  }
  
  #advice-img-type {
    top: 15vmin;
  }
  
  #advice-font-color {
    top: -3vmin;
  }
  
  #advice-lang {
    top: -27vmin;
  }
  
  #advice-lang::before {
    width: 2.5vmin;
  }
  
  #advice-lang::after {
    transform: translate(3vmin, 33%);
  }
  
  #advice-meta {
    top: -19vmin;
  }
  
  #advice-img-alt {
    top: 21vmin;
  }
  
  #advice-html5 {
    top: 9vmin;
  }
  
  #advice-struct {
    top: 16vmin;
  }
  
  #advice-links {
    top: -3vmin;
  }
  
  #advice-html5::before {
    width: 7vmin;
  }
  
  #advice-html5::after {
    transform: translate(8vmin, 33%);
  }
  
  #advice-struct::before,
  #advice-links::before{
    width: 11vmin;
  }
  
  #advice-struct::after,
  #advice-links::after{
    transform: translate(12vmin, 33%);
  }
  
  #advice-contrast {
    top: -7vmin;
  }
  
  #advice-abbr {
    top: 1vmin;
  }
  
  #advice-form {
    top: 12vmin;
  }