footer {
    height: 12%;
    width: 100%;
    background-color: #FFFFFF;
    bottom: 0;
    position: absolute;
    font-size: 0.9vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer table {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    text-align: center;
    color: #6C757D;
}

footer i {
    padding: 0.7vw 0.5vw 0.2vw;
}