/* to set all margin and padding become 0 */
*{
    padding: 0vw;
    margin: 0vw;
}

header {
    background-color: #F7F7F7;
    height: 15%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
    display: block;
}

header img {
    padding: 1vw 2vw;
}

#profilePic {
    float: right;
}